<ul>
<li>{{home.title}}</li>    
<li>{{item}}</li>
<li>{{description}}</li>
<li>{{purchasedOn}}</li>
<li>{{price}}</li>
<li>{{currentValue}}</li>
<li>{{model}}</li>
<li>{{serialno}}</li>
<li>{{comments}}</li>
<li>{{category_id}} is {{#with (lookup ../category [description]}}</li>
<li>{{state_id}} is {{#with (lookup ../state [stateType])}} </li>
<li>{{location_id}} is {{#with (lookup ../location [nameoflocation]</li>
</ul>