<ul>
<li>{{home.title}}</li>    
<li>{{item}}</li>
<li>{{description}}</li>
<li>{{purchasedOn}}</li>
<li>{{price}}</li>
<li>{{currentValue}}</li>
<li>{{model}}</li>
<li>{{serialno}}</li>
<li>{{comments}}</li>
<li>{{category_id}}</li>
<li>{{state_id}}</li>
<li>{{location_id}}</li>
</ul>