<!-- Loop over each object in the asset array -->
<div class="row">
  <div class="col-md-6">
  {{#each assets as |asset| }}
    <h2>Asset <a href="/assets/{{asset.id}}">{{item}}</a>    </h2>
    <p>Description: {{description}}</p>
    <p>Date Purchased: {{purchasedOn}}</p>
    <p>Price Value: {{price}}</p>
    <p>Current Value: {{currentValue}}</p> 
    <p>Model #: {{model}}</p>
    <p>Serial #:  {{serialno}}</p>
    <p>Location: {{location.nameoflocation}}</p>
    <p>Condition: {{status.stateType}}</p>
    <p>Category: {{category.description}}</p>
  </div>
  <div class="col-md-7">
  </div>
  {{/each}}
</div>


<div class="col-md-6">
  <h2>Add an asset</h2>

  <form class="form add-asset-form">
    <div class="form-group">
      <label for="item-add-asset">Item:</label>
      <input class="form-input" type="text" id="item-add-asset" />
    </div>
<div class="form-group">
  <label for="description-add-asset">Description:</label>
  <input class="form-input" type="text" id="description-add-asset" />
</div>  
  <div class="form-group">
      <label for="purchasedOn-add-asset">Purchase Date:</label>
      <input class="form-input" type="date" id="purchasedOn-add-asset" />
    </div>
    <div class="form-group">
      <label for="location-add-asset">Location:</label>
      <input class="form-input" type="date" id="Location-add-asset" />
    </div>
    <div class="form-group">
      <label for="state-add-asset">Condition of item:</label>
      <input class="form-input" type="text" id="state-add-asset" />
    </div>
    <div class="form-group">
      <label for="price-add-asset">Price:</label>
      <input class="form-input" type="text" id="price-add-asset" />
    </div>
    <div class="form-group">
      <label for="currentvalue-add-asset">Current Value: </label>
      <input class="form-input" type="text" id="currentvalue-add-asset" />
    </div>
    <div class="form-group">
      <label for="model-add-asset">Model #:</label>
      <input class="form-input" type="text" id="model-add-asset" />
    </div>
    <div class="form-group">
      <label for="serialno-add-asset">Serial #:</label>
      <input class="form-input" type="text" id="serialno-add-asset" />
    </div>
    <div class="form-group">
      <label for="Category-add-asset">Category: </label>
      <input class="form-input" type="text" id="category-add-asset" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>
</div>


<script src="/js/addAsset.js"></script>