<div class="row">
  <h1>My Assets</h1>
  <div class="col-md-6">
    {{#each assets as |asset| }}
    <div class="section">
      <h4>{{item}}</h4>
      <p>Description: {{description}}</p>
      <p>Date Purchased: {{format_date purchasedOn}}</p>
      {{#if price}}
      <p>Price<span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{format_amount price}}</span>
      </p>
      {{/if}}
      {{#if currentValue}}
      <p>Current Value: <span for="img" aria-label="money">💲</span>
        <span class="dollar-amount">{{format_amount currentValue}}</span>
      </p>
      {{/if}}
      {{#if model}}
      <p>Model #: {{model}}</p>
      {{/if}}
      {{#if serialno}}
      <p>Serial #: {{serialno}}</p>
      {{/if}}
      {{#if location.nameoflocation}}
      <p>Location: {{location.nameoflocation}}</p>
      {{/if}}
      {{#if status.stateType}}
      <p>Condition: {{status.stateType}}</p>
      {{/if}}
      {{#if category.description}}
      <p>Category: {{category.description}}</p>
      {{/if}}
      <button asset-id={{id}} class="deleteBtn">DELETE</button>
    </div>
    {{/each}}
  </div>

  <div class="col-md-6">

    <div class="section">
      <h2>Add An Asset</h2>
      <form class="form add-asset-form">
        <div class="form-group">
          <label for="item-add-asset">Item:</label>
          <input class="form-input" type="text" id="item-add-asset" />
        </div>
        <div class="form-group">
          <label for="description-add-asset">Description:</label>
          <input class="form-input" type="text" id="description-add-asset" />
        </div>
        <div class="form-group">
          <label for="purchasedOn-add-asset">Purchase Date:</label>
          <input class="form-input" type="date" id="purchasedOn-add-asset" />
        </div>
        <div class="form-group">
          <label for="location-add-asset">Location:</label>
          <input class="form-input" type="text" id="Location-add-asset" />
        </div>
        <div class="form-group">
          <label for="state-add-asset">Condition of item:</label>
          <input class="form-input" type="text" id="state-add-asset" />
        </div>
        <div class="form-group">
          <label for="price-add-asset">Price:</label>
          <input class="form-input" type="text" id="price-add-asset" />
        </div>
        <div class="form-group">
          <label for="currentvalue-add-asset">Current Value: </label>
          <input class="form-input" type="text" id="currentvalue-add-asset" />
        </div>
        <div class="form-group">
          <label for="model-add-asset">Model #:</label>
          <input class="form-input" type="text" id="model-add-asset" />
        </div>
        <div class="form-group">
          <label for="serialno-add-asset">Serial #:</label>
          <input class="form-input" type="text" id="serialno-add-asset" />
        </div>
        <div class="form-group">
          <label for="Category-add-asset">Category: </label>
          <input class="form-input" type="text" id="category-add-asset" />
        </div>
        <div class="form-group">
          <label for="comment-add-asset">Comment: </label>
          <input class="form-input" type="text" id="comment-add-asset" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Add Asset</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/addAsset.js"></script>
