<h1>Welcome</h1>
{{#if if (req.session.logged_in)}}
<div class="row mb-4 Home">
  <div class="col-md-5">
    <h2>User Info</h2>
    <p>{{first_name}}</p>
    <p>{{last_name}}</p>
    <p>{{email}}</p>
    <p>{{primaryPhone}}</p>
    <p>{{cellPhone}}</p>
    <p>{{workPhone}}</p>
  </div>
</div>
{{/if}}
<script src="/js/profile.js"></script>